/*
  Example solution stylesheet for hero image
*/

.exHero {
  /* Making the wrapper relative positioned allows us to 
    position the children item relative to it's dimensions */
  position: relative;
  /* Leave room for the navbar */
  padding-top: 100px;
}

.exHero-logo {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
}

.exHero-background {
  /* Remove white-space under image */
  display: block;
  margin: auto;
}
