/*
  Example solution stylesheet for site navigation bar
*/

.exNavbar {
  /*
    Set the visual properties according to the design
    like background, padding, and border
  */
  background-color: white;
  padding: 20px;
  border-bottom: 5px solid #f3be46;
  box-sizing: border-box;
  /* Fixed positioning to keep the navbar pinned to the screen
   (as mentioned in the mocks! */
  position: fixed;
  width: 100%;
  z-index: 1;
}
/* 
  Behold the magic of the clear float!
  Disable any line and watch the layout break
*/
.exNavbar::after {
  content: "";
  clear: both;
  display: table;
}

.exNavbar-logoWrap {
  float: left;
  width: 20%;
}

.exNavbar-logoWrap img {
  width: 150px;
}
.exNavbar-linkWrap {
  float: left;
  width: 80%;
  text-align: right;
  /* Reset default margin/padding on ul items */
  margin: 0;
  padding: 0;
}

.exNavbar-title {
  color: red;
  margin-top: 20px;
  float: right;
}

.exNavbar-link {
  /* Force the links to sit together on the same line */
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.exNavbar-link a {
  color: black;
  text-decoration: none;
}

/* 
  It's always important to have focus and hover states
 for intractive content! More on this in another module...
*/
.exNavbar-link a:hover,
.exNavbar-link a:focus {
  color: darkblue;
  text-decoration: underline;
}
