$page-background: #cadcda;
$page-color: #001524;
$primary-color: #37718E;
$secondary-color: #FAA613;

.Page {
  color: $page-color;
  background: $page-background;
  padding: 15px;
}

.Divider {
  margin: 20px 0;
  height: 10px;
  border: 0;
  background: repeating-linear-gradient(
    45deg,
    $primary-color,
    $primary-color 10px,
    $secondary-color 10px,
    $secondary-color 20px
  );
}

.HeroImage {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.HeroSideContent {
  border: 5px solid $primary-color;;
  padding: 20px;
  background: $secondary-color;
}

.NavigationLinks {
  &-link {
    color: $primary-color;
    padding: 10px 15px;
    background:  white;
    border: 2px dashed $primary-color;
    border-radius: 5px;
    margin: 5px;
    &:hover {
      text-decoration: none;
    }
  }
}

.Logo {
  background: $secondary-color;
  border-radius: 50%;
  width: 50px;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.HamburgerButton {
  width: 50px;
  background: none;
  padding: 5px;
  border: 2px solid $primary-color;
  &-patty {
    height: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: $primary-color;
    display: block;
    width: 100%;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.ValueProp {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 15px;
  border: 2px solid $secondary-color;
  text-align: center;
  &-image {
    display: block;
    border-radius: 50%;
    border: 5px solid $primary-color;
    margin-bottom: 15px;
    max-width: 150px;
    width: 100%;
    margin: 0 auto 15px;
  }
}

.Testimonial {
  background: white;
  padding: 15px;
  font-style: italic;
  font-size: 13px;
  margin: 5px;
  border-right: 10px solid $primary-color;
  &-author {
    text-align: right;
  }
}