/* 
  📚 Learn CSS - Website Challenge 📚

  📣 For the final part of this Awesome Learning, you're going to combine
  📣 all of what you've learned so far to put together a simple website.
  📣 All of the content has been provided to you in each of the components.
  📣 You can find the image mocks detailing the design in the "src" folder

  ⚠️ This time, feel free to change the JSX/HTML however you need
  ⚠️ in order to obtain the layout required and match the mocks
*/

/*
  Hex codes for colors per design:

  Teal: #01b0c5
  Yellow: #f3be46
  Green: #3d7d55

*/

.Hero {
  /* Styles go here! */
}
