/*
  Example solution stylesheet for main site content
*/

/* Style the first row */
.exMainContent-row1 {
  background-color: #f3be46;
  /* Padding shorthand for top / left & right / bottom */
  padding: 40px;
}
.exMainContant-row1 h2 {
  text-align: center;
}

/* Need to have an extra container to limit the width of the copy size.
  It's important to re-use classes whenever possible! */
.exMainContent-row1-container {
  max-width: 90%;
  margin: 0 auto;
}
.exMainContent-row1-container:nth-of-type(1) {
  padding: 0 10px;
}

/* Wrapper for the images */
.exMainContent-row1-image {
  /* Set the width to be 1/3 of the wrapping element */
  width: 33.33%;
  /* Allow images to sit next to each other */
  display: inline-block;
  margin: auto;
  padding: 0 10px;
  /* Set the box-sizing to border-box
    So the padding is part of the calculated image width */
  box-sizing: border-box;
}

.exMainContent-row1-image img {
  border: 5px solid white;
  /* Limit the image to it's container */
  display: block;
  max-width: 100%;
  /* Set the box-sizing to border-box
     So the border is part of the calculated image width */
  box-sizing: border-box;
}

/* Style the third row */
.exMainContent-row2 {
  /* Instead of floats, we can use a table-based layout */
  display: table;
  width: 100%;
  text-align: left;
}
.exMainContent-row2-left,
.exMainContent-row2-right {
  display: table-cell;
  width: 50%;
  padding: 50px;
  background: #01b0c5;
}
.exMainContent-row2-right {
  /* Override background color on second cell */
  background: #3d7d55;
}
.exMainContent-row2 h2 {
  /* Reset text align on headings */
  text-align: center;
}
