.Alert {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background: #ACC18A;
  display: flex;
  justify-content: space-between;
  code {
    background-color: rgba(0,0,0,.1);
    border-radius: 3px;
    padding: 0 5px;
  }
}

.QuestionWrapper {
  background: #fff;
  border: 2px solid #ddd;
  margin-bottom: 20px;
  &-inner {
    position: relative;
  }
  &-inner,
  &-underlay {
    padding: 15px;
  }
  &-underlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .3;
  }
}

$wrapper-main-color: #ddd;

.ExerciseTwoWrapper {
  margin: 0 10px;
  &-inner {    
    background: #fff;
    border: 2px solid $wrapper-main-color;
    margin: 20px auto;
    width: 100%;
    max-width: 1600px;
    &.is-overlay {
      max-width: 800px;
    }
  }
  &-header {
    background: $wrapper-main-color;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  &-body {
    position: relative;
  }
  &-button {
    border-radius: 15px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255,.5);
    &:hover,
    &:focus {
      color: #fff;
      background-color: black;
    }
  }
  &-userInput,
  &-solution {
    padding: 15px;
    width: 100%;
  }
  &-userInput {
    &.is-sideBySide {
      border-right: 1px solid $wrapper-main-color;
    }
  }
  &-solution {
    border-left: 1px solid $wrapper-main-color;
    &-wrap {
      width: 100%;
    }
    &.is-overlay {
      border-left: 0; // Remove border
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      opacity: .3;
    }
  }
}
